/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Clicker+Script|Ruthie&display=swap');
html {
   
    margin: 0px;
    padding: 0px;
    
}
body{height: 720px; background-color: black;}

.menu-item{
    height:200px;
    text-align: center;
    color:white ;
    font-family: 'Clicker Script', cursive;
    font-size: 65px;
    font-weight: 1000;
    /* background-color: #5DA9E9; */
    border: #FFFFDD solid 3px;
    margin: 20px;
    text-shadow: 2px 2px #B9314F;

}
.menu-item:hover{
    text-shadow: 2px 2px pink;
    border: #FFFFFF 3px solid;
    cursor: pointer;
}

.header-title{
    height:50px;
    text-align: center;
    color:white ;
    font-family: 'Clicker Script', cursive;
    font-size: 35px;
    font-weight: 1000;
    width:100%;
    /* background-color: #5DA9E9; */
    border: #FFFFDD solid 3px;
    margin: 20px;
    text-shadow: 2px 2px #B9314F;
}

a{
color:pink;
}
a:hover{
    color:pink;
    }
a:visited{
    color: orangered;
}