.wrapper{
    background-color: #B9314F;
    height: 550px;
}

#bar-list{
    color: white;
}

#bar-list li:hover{
    text-decoration: underline;
    text-decoration-color: pink;
    text-decoration-style: double;
    cursor: pointer;
}