<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md">
          <ul id="bar-list" style="list-style: none;text-align: center">
            <li  *ngFor="let bar of barlist" routerLink = "{{bar.id}}" >{{bar.name}}</li>
          </ul>
      </div>
      <div class="col-md"
      style = "border-left:solid 3px #FFFFDD ">
        
       <router-outlet></router-outlet>
      </div>
    </div>
  </div>

</div>
<app-footer></app-footer>