

<div class="container">
<div class="row">
  
  <h3 class="header-title" 
  style="z-index: 1"
  >{{bar.name }}</h3>
  
</div>
<div class="row">
  <img
 

  id="bar-photo" src="https://cdn.pixabay.com/photo/2016/02/23/23/32/beer-1218742_960_720.jpg" alt="">
</div>
<div class="row" >
  <ul
  style = "list-style: none;display: block;margin: auto; text-align: center;color: white;margin-top:30px;"
  >
    <li>{{bar.brewery_type}} brewery</li>
    <li><a target="_blank" href="{{bar.website_url}}">{{bar.website_url}}</a></li>
    <li>{{bar.phone}}</li>
    <li>{{bar.street}} , {{bar.state}} , {{bar.postal_code}}</li>
  </ul>
</div>

</div>
