

#background-holder{
    background-image: url("https://cdn.pixabay.com/photo/2015/09/05/23/30/bar-926256_1280.jpg");
    background-color: #B9314F;
    width:100%;
    height: 100%;
    display: block;
    margin: auto;
    z-index: -1;
    padding:170px;
    border-top: black solid 2px;
   
}

#wrapper{
    background-color: #7fffd4;
}

#menu-wrapper{
    display: block;
    width: 600px;
    margin: auto;
    
}
