<div id="wrapper">
<div id="background-holder">
<div id="menu-wrapper" class="container">
    <div class="row">
        <div class="menu-item col-sm" routerLink="/breweries">All breweries</div>
        <div class="menu-item col-sm" (click)="onFeelingLucky()" >I'm feeling lucky</div>
    </div>
</div>
</div> 